{% extends 'layout.html' %}

{% block title %}Register{{ super() }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Create an account</h1>

        <h4>Fill in all the fields below, and then press Submit; please make sure you answer accurately. If you want the
            chance to run in the charity event, check the box.</h4>

        <form method="POST" class="register-form">
            {{ form.csrf_token }}
            {% with messages=get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class='form-control input_membership_name') }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class='form-control input_membership_email') }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class='form-control input_membership_password') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.confirm.label }}
                        {{ form.confirm(class='form-control input_membership_confirm') }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.dob.label }}
                        {{ form.dob(class='form-control input_membership_dob', placeholder='dd/mm/yyyy', type='date') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.distance.label }}
                        {{ form.distance(class='form-control') }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.submit(class='btn btn-primary col-sm-3') }}
                    </div>
                </div>
            </div>
            <div class="row charity-row">
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form.charity_event.label }}
                        {{ form.charity_event(class='input_membership_charity') }}
                        <br/>
                        <label><a href="{{ url_for('auth.login') }}">Already have an account?</a></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}