{% extends 'layout.html' %}

{% block title %}Compare Performance{{ super() }}{% endblock %}

{% block content %}

    <h1>Compare Performance</h1>
    <p>Want to see how you’re doing compared to others? Use this page!</p>

    <label for="user_list">Select a user to compare against:</label>
    <select name="user_list" id="user_list" class="form-control">
        {% for user in user_list %}
            <option value="{{ user[0] }}">{{ user[1] }}</option>
        {% endfor %}
    </select>

    <h3 class="user-title">Your Performance</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="comparison-block running-block block-float">
                <div class="block-header">
                    <span class="comparison-title">Running Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.user.calories.running|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.user.hours.running|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
        <h3 class="compare-name">{{ comparison_name }}'s Performance</h3>
            <div class="comparison-block running-block">
                <div class="block-header">
                    <span class="comparison-title">Running Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.comparison.calories.running|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.comparison.hours.running|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="comparison-block cycling-block">
                <div class="block-header">
                    <span class="comparison-title">Cycling Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.user.calories.cycling|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.user.hours.cycling|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="comparison-block cycling-block">
                <div class="block-header">
                    <span class="comparison-title">Cycling Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.comparison.calories.cycling|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.comparison.hours.cycling|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="comparison-block swimming-block">
                <div class="block-header">
                    <span class="comparison-title">Swimming Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.user.calories.swimming|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.user.hours.swimming|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="comparison-block swimming-block">
                <div class="block-header">
                    <span class="comparison-title">Swimming Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.comparison.calories.swimming|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.comparison.hours.swimming|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="comparison-block info-block">
                <div class="block-header">
                    <span class="comparison-title">Total Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.user.calories.total|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.user.hours.total|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="comparison-block info-block">
                <div class="block-header">
                    <span class="comparison-title">Total Data</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comparison-calories">
                            <span>{{ activities.comparison.calories.total|round|int }} <br/> calories</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comparison-hours">
                            <span>{{ activities.comparison.hours.total|round|int }} <br/> hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/comparison_charts.js') }}"></script>
{% endblock %}