{% extends 'layout.html' %}

{% block title %}Training Performance{{ super() }}{% endblock %}

{% block content %}
    <h1>Training Performance</h1>
    <h4>Check out a detailed analysis of how you've performed in your training sessions!</h4>
    
	<ul class="nav nav-pills">
		<li class="active"><a href="#running" data-toggle="tab" aria-expanded="true">Running</a></li>
		<li><a href="#cycling" data-toggle="tab" aria-expanded="false">Cycling</a></li>
		<li><a href="#swimming" data-toggle="tab" aria-expanded="false">Swimming</a></li>
	</ul>

    <div class="tab-content">
    	<div id="running" class="tab-pane fade active in">
			<div class="panel panel-warning panel-cycling-data">
			    <div class="panel-heading">
			        <div class="panel-title">
						All Running Activities
			        </div>
			    </div>
				<table class="table" id="cyclingDataTable">
					<thead>
						<th>Date</th>
						<th>Hours</th>
						<th>Calories Burned</th>
						<th>Your Rating</th>
						<th>Running Speed</th>
					</thead>
					<tbody>
						{% for run in runs %}
							<tr>
								<td>{{ run.date.strftime('%d %b %Y') }}</td>
								<td>{{ run.hours }} {% if run.hours > 1 %}hours{% else %}hour{% endif %}</td>
								<td>{{ run.calories }} calories</td>
								<td>{{ run.opinion|title }}</td>
								<td>{{ run.effigy|title }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
	    </div>
    	<div id="cycling" class="tab-pane fade">
			<div class="panel panel-warning panel-cycling-data">
			    <div class="panel-heading">
			        <div class="panel-title">
						All Cycling Activities
			        </div>
			    </div>
				<table class="table" id="cyclingDataTable">
					<thead>
						<th>Date</th>
						<th>Hours</th>
						<th>Calories Burned</th>
						<th>Your Rating</th>
						<th>Cycling Speed</th>
					</thead>
					<tbody>
						{% for cycle in cycles %}
							<tr>
								<td>{{ cycle.date.strftime('%d %b %Y') }}</td>
								<td>{{ cycle.hours }} {% if cycle.hours > 1 %}hours{% else %}hour{% endif %}</td>
								<td>{{ cycle.calories }} calories</td>
								<td>{{ cycle.opinion|title }}</td>
								<td>{{ cycle.effigy|title }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
	    </div>
    </div>
{% endblock %}