{% extends 'layout.html' %}

{% block title %}Running Performance{{ super() }}{% endblock %}

{% block content %}
    <h1 class="running-title">Running Performance</h1>
    <h4>Check out a detailed analysis of how you've performed in your runs!</h4>
    <ul>
    {% for run in runs %}
        <li>
            <p>{{ run.id }} {{ run.date }} {{ run.effigy }} {{ run.calories }} {{ run.opinion }}</p>
        </li>
    {% endfor %}
    </ul>
    <p>{{ (brilliant_runs|length / runs|length * 100)|round }}% of runs were brilliant!</p>
    <canvas id="runningChart" width="800" height="500"></canvas>
{% endblock %}