{% extends 'layout.html' %}

{% block title %}Training Performance{{ super() }}{% endblock %}

{% block content %}
    <h1 class="trainingHeading">Training Performance</h1>
    <h4>Check out a detailed analysis of how you've performed in your training sessions!</h4>

    <ul class="month_buttons">
        {% for month in months %}
            <a href="{{ url_for('main.performance', month=month) }}"><li class="btn btn-{% if current_month.lower() == month %}primary{% else %}default{% endif %}">{{ month|title }}</li></a>
        {% endfor %}
    </ul>

    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-6">
            <h3 class="performance-subtitle calorie-subtitle">{{ current_month|title }} Calorie Progress</h3>

            <div class="progress">
                <div class="progress-bar progress-bar-success running-calories-bar"
                     style="width: {{ user_data.progress_data.running.calories.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.running.calories.value }} calories"></div>

                <div class="progress-bar progress-bar-warning cycling-calories-bar"
                     style="width: {{ user_data.progress_data.cycling.calories.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.cycling.calories.value }} calories"></div>

                <div class="progress-bar progress-bar-info swimming-calories-bar"
                     style="width: {{ user_data.progress_data.swimming.calories.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.swimming.calories.value }} calories"></div>

            </div>
        </div>

        <div class="col-md-6">
            <h3 class="performance-subtitle hour-subtitle"><span class="month-text">{{ current_month|title }}</span> Hourly
                Progress
            </h3>

            <div class="progress">
                <div class="progress-bar progress-bar-success running-hours-bar"
                     style="width: {{ user_data.progress_data.running.hours.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.running.hours.value }} hours"></div>

                <div class="progress-bar progress-bar-warning cycling-hours-bar"
                     style="width: {{ user_data.progress_data.cycling.hours.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.cycling.hours.value }} hours"></div>

                <div class="progress-bar progress-bar-info swimming-hours-bar"
                     style="width: {{ user_data.progress_data.swimming.hours.percentage }}%;"
                     role="progressbar" data-toggle="tooltip"
                     title="{{ user_data.progress_data.swimming.hours.value }} hours"></div>
            </div>
        </div>
    </div>

    <button class="btn btn-running activity-change" id="running">View Runs</button>
    <button class="btn btn-warning activity-change" id="cycling">View Cycles</button>
    <button class="btn btn-info activity-change" id="swimming">View Swims</button>

    <div class="running-data active">
        <h3>Running Data</h3>
        <canvas id="runningChart" width="1140" height="550"></canvas>
        <h3>Tabular View</h3>
        <table id="running-activities" class="table table-bordered table-striped table-hover" style="border-radius: 4px;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Speed</th>
                    <th>Calories</th>
                    <th>Hours</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for run in user_data.sport_data.running %}
                    <tr>
                        <td><a href="{{ url_for('main.individual_activity', activity_id=run.id) }}">{{ run.date }}</a></td>
                        <td>{{ run.effigy }}</td>
                        <td>{{ run.calories }} calories</td>
                        <td>{{ run.hours }} hours</td>
                        <td>{{ run.opinion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="cycling-data">
        <h3>Cycling Data</h3>
        <canvas id="cyclingChart" width="1140" height="550"></canvas>
        <h3>Tabular View</h3>
        <table id="cycling-activities" class="table table-bordered table-striped table-hover"  style="border-radius: 4px;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Speed</th>
                    <th>Calories</th>
                    <th>Hours</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for cycle in user_data.sport_data.cycling %}
                    <tr>
                        <td><a href="{{ url_for('main.individual_activity', activity_id=cycle.id) }}">{{ cycle.date }}</a></td>
                        <td>{{ cycle.effigy }}</td>
                        <td>{{ cycle.calories }} calories</td>
                        <td>{{ cycle.hours }} hours</td>
                        <td>{{ cycle.opinion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="swimming-data">
        <h3>Swimming Data</h3>
        <canvas id="swimmingChart" width="1140" height="550"></canvas>
        <h3>Tabular View</h3>
        <table id="swimming-activities" class="table table-bordered table-striped table-hover" style="border-radius: 4px;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Speed</th>
                    <th>Calories</th>
                    <th>Hours</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for swim in user_data.sport_data.swimming %}
                    <tr>
                        <td><a href="{{ url_for('main.individual_activity', activity_id=swim.id) }}">{{ swim.date }}</a></td>
                        <td>{{ swim.effigy }}</td>
                        <td>{{ swim.calories }} calories</td>
                        <td>{{ swim.hours }} hours</td>
                        <td>{{ swim.opinion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/individual_charts.js') }}"></script>
{% endblock %}