{% extends 'layout.html' %}

{% block title %}Training Performance{{ super() }}{% endblock %}

{% block content %}
    <h1>Training Performance</h1>
    <h4>Check out a detailed analysis of how you've performed in your training sessions!</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="stat-bars">
                <h3>Hourly Progress for {{ month }}</h3>
                <ul class="calorie-progress-bars">
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 style="width: 60%;"
                                 role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                 style="width: 60%;"
                                 role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 60%;"
                                 role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                </ul>

                <h3>Calorie Progress for {{ month }}</h3>
                <ul class="calorie-progress-bars">
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 style="width: {{ user_data.progress_data.total_calories }}%;"
                                 role="progressbar" aria-valuenow="56"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                 style="width: 23%;"
                                 role="progressbar" aria-valuenow="23"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 60%;"
                                 role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}