{% extends 'layout.html' %}

{% block title %}Your Profile{{ super() }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Manage your profile</h1>
        <h4>Use this page to view or change your details, or even delete your account.</h4>

        <div class="details">
            <p class="name">Name: {{ current_user.name }}</p>
            <p class="email">Email: {{ current_user.email }}</p>
            <p class="dob">Date of birth: {{ current_user.dob.strftime('%A %e %B %G') }}</p>
        </div>
        
        <span><a href="{{ url_for('main.edit_profile') }}">Edit</a></span>
    </div>    
{% endblock %}