{% extends 'layout.html' %}

{% block title %}Your Profile{{ super() }}{% endblock %}

{% block content %}
    <h1>Manage Your Profile</h1>
    <h4>View or change your details, or even delete your account.</h4>
    <hr/>
    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Your Personal Details</div>
                </div>
                <ul class="user-details list-group panel-list">
                    <li class="name list-group-item">Name: {{ current_user.name }} <span class="right"
                                                                                         data-toggle="modal"
                                                                                         data-target="#changeNameModal"><a
                            href="#">Edit</a></span></li>
                    <li class="email list-group-item">Email: {{ current_user.email }} <span class="right"
                                                                                            data-toggle="modal"
                                                                                            data-target="#changeEmailModal"><a
                            href="#">Edit</a></span>
                    </li>
                    <li class="phone list-group-item">Phone: {{ current_user.phone }} <span class="right"
                                                                                            data-toggle="modal"
                                                                                            data-target="#changePhoneModal"><a
                            href="#">Edit</a></span>
                    </li>
                    <li class="dob list-group-item">Date of birth: {{ current_user.dob.strftime('%A %e %B %G') }} <span
                            class="right" data-toggle="modal"
                            data-target="#changeDobModal"><a href="#">Edit</a></span></li>
                    <li class="weight list-group-item">Weight: {{ current_user.weight }}kg <span class="right"
                                                                                                 data-toggle="modal"
                                                                                                 data-target="#changeWeightModal"><a
                            href="#">Edit</a></span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Your Account Details</div>
                </div>
                <ul class="account-details list-group panel-list">
                    <li class="username list-group-item">Username: {{ current_user.username }}</li>
                    <li class="joined list-group-item">Joined on: {{ current_user.joined }}</li>
                    <li class="charity-event list-group-item">Charity event: {% if current_user.charity_event %}
                        Yes{% else %}No{% endif %}</li>

                    <li class="joined list-group-item">Your ranking: 0 out of {{ total_users }}</li>
                    <li class="activities-added list-group-item">Activities added: {{ activity_number }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="panel-title">Delete Your Account</div>
        </div>
        <div class="panel-body">
            If you want, you can delete your account. This is permanent: your account will be deleted
            immediately, and your all your data will be lost - including your training log. You won't be able to back up
            your data, and will lose your chance to be picked for the charity event. You will still be a member of
            Parkwood Vale Harriers, but you will kill a fairy. If you're sure you want to delete your account, press the
            large red button below.
            <br/>

            <div class="btn btn-danger btn-sm delete-account">Delete my account</div>
        </div>
    </div>

    <div class="modal fade" id="changeNameModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change your name</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ new_name.name.label }}
                        {{ new_name.name(class='form-control', placeholder=current_user.name) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Change name</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeEmailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change your email</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ new_email.email.label }}
                        {{ new_email.email(class='form-control', placeholder=current_user.email) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Change email</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePhoneModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change your phone</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ new_phone.phone.label }}
                        {{ new_phone.phone(class='form-control', placeholder=current_user.phone) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Change phone</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeDobModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change your date of birth</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ new_dob.dob.label }}
                        {{ new_dob.dob(class='form-control', placeholder=current_user.dob) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Change date of birth</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeWeightModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change your weight</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ new_weight.weight.label }}
                        {{ new_weight.weight(class='form-control', placeholder=current_user.weight) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Change weight</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}