/* Navigation styles
--------------------*/
.navbar {
    border-radius: 0;
}

/* Footer styles
--------------------*/
.footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* General typography styles
----------------------------*/
h1 {
    color: #292929;
    font-size: 45px;
}
h4 {
    color: #2d2d2d;
    font-weight: 400;
    font-size: 20px;
}
label, p, .btn {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}
.btn {
    font-weight: 700;
}
.timepicker {
    background-color: #fff !important;
    cursor: auto !important;
}

/* General input box styles
---------------------------*/
input, select, textarea {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* Training styles
--------------------*/
.activity-picker ul {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}
.activity-block {
    width: 44%;
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
    height: 75px;
    cursor: default;
    border-radius: 10px;
    border: 1px solid #2d2d2d;
    transition: all 0.5s ease-in-out;
}
.activity-picker .glyphicon {
    float: right;
    font-size: 17px;
    display: none;
}
.activity-picker .glyphicon:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
}
.activity-picker label {
    font-size: 14px;
    display: none;
}
.activity-picker input, .activity-picker select, .activity-picker textarea {
    width: 100%;
    /*margin-top: 20px;*/
    border: 1px solid;
    border-radius: 5px;
    display: none;
    animation-duration: 1s;
}
.activity-picker textarea {
    height: 110px;
}
.activity-picker .form-group {
    margin-bottom: 8px;
}
.activity-picker form {
    margin-top: 15px;
}
.activity-picker .btn {
    margin-top: 20px;
}