/* Navigation styles
--------------------*/
.navbar {
    border-radius: 0;
}

/* Footer styles
--------------------*/
.footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

/* General typography styles
----------------------------*/
h1 {
    color: #292929;
    font-size: 45px;
}
h4 {
    color: #2d2d2d;
    font-weight: 400;
    font-size: 20px;
}
label, p, .btn {
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
.btn {
    font-weight: 700;
}
.timepicker {
    background-color: #fff !important;
    cursor: auto !important;
}

/* Training styles
--------------------*/
.activity-picker ul {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}
.activity-block {
    width: 44%;
    margin-bottom: 20px;
    padding-top: 20px;
    height: 75px;
    cursor: default;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgba(231, 73, 68, 0.79);
    box-shadow: 0 8px 0 0 rgb(142, 42, 42);
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.activity-block:hover:not(.animated) {
    background-color: rgba(231, 73, 68, 0.88);
    transition: background-color 0.5s ease-in-out;
}
.activity-block:active {
    box-shadow: 0 4px 0 0 rgb(142, 42, 42);
}
.activity-picker .glyphicon {
    float: right;
    padding-right: 30px;
    font-size: 17px;
    display: none;
}
.activity-picker .glyphicon:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
}
.activity-picker input {
    width: 93%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    display: none;
}