{% extends 'layout.html' %}

{% block title %}Add Training Session{{ super() }}{% endblock %}

{% block content %}
    <h1>Add a Training Session - {{ date.strftime('%A %e %B %G') }}</h1>
    <h4>Done some exercise? Record it here to add it to your training log.</h4>
    <div class="add-training">
        <div class="activity-picker">
            <ul>
                <li class="activity-block">
                    <span>Swimming <span class="glyphicon glyphicon-ok"></span></span>
                    <br/>

                    <form method="POST">
                        <div class="form-group">
                            {{ form.style.label }}
                            {{ form.style(class='form-control') }}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.start.label }}
                                    {{ form.start(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.finish.label }}
                                    {{ form.finish(class='form-control') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.rating.label }}
                            {{ form.rating(class='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.thoughts.label }}
                            {{ form.thoughts(class='form-control') }}
                        </div>
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                </li>
                <li class="activity-block">
                    <span>Running <span class="glyphicon glyphicon-ok"></span></span>
                    <br/>
                </li>
                <li class="activity-block">Cycling <span class="glyphicon glyphicon-ok"></span></li>
            </ul>
        </div>
        <div class="data">
            <div class="running"></div>
            <div class="cycling"></div>
            <div class="swimming"></div>
        </div>
    </div>
{% endblock %}