{% extends 'layout.html' %}

{% block title %}Add Training Session{{ super() }}{% endblock %}

{% block content %}
    <h1>Add a Training Session - {{ date.strftime('%A %e %B %G') }}</h1>
    <h4>Done some exercise? Record it here to add it to your training log.</h4>
    <ul class="add-sport-buttons">
        <li>
            <div class="btn btn-default sport"><span class="swimming">Add Swimming</span></div>
        </li>
        <li>
            <div class="btn btn-default sport"><span class="cycling">Add Cycling</span></div>
        </li>
        <li>
            <div class="btn btn-default sport"><span class="running">Add Running</span></div>
        </li>
    </ul>
    <div class="activity-picker">
        <ul>
            
        </ul>
    </div>
    <h4><strong>You haven't added any activities today! Use the buttons above to add one.</strong></h4>
{% endblock %}