<li class="activity-block">
    <span>Cycling <span class="glyphicon glyphicon-remove"></span></span>
    <br/>

    <form>
        <div class="form-group">
            <label for="style">How fast were you cycling?</label>
            <select name="style" id="style" class="form-control activity-input">
                <option value="leisurely">Leisurely</option>
                <option value="gently">Gently</option>
                <option value="moderately">Moderately</option>
                <option value="vigorously">Vigorously</option>
                <option value="racing">Racing</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="start">What time did you start?</label>
                    <input class='form-control activity-input time' id="start">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="finish">What time did you finish?</label>
                    <input class='form-control activity-input time' id="finish">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rating">How would you rate your cycle?</label>
            <select name="rating" id="rating" class="form-control activity-input">
                <option value="brilliant">Brilliant</option>
                <option value="pretty-good">Pretty good</option>
                <option value="about-average">About average</option>
                <option value="okay">Okay</option>
                <option value="awful">Awful</option>
            </select>
        </div>
        <div class="form-group">
            <label for="thoughts">Do you have any extra thoughts?</label>
            <textarea name="thoughts" id="thoughts" class="activity-input form-control" ></textarea>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <input type="button" class="btn btn-primary activity-input" value="Add cycle" name="add-cycle" id="add-cycle"/>
            </div>
        </div>
        
    </form>
</li>