{% extends 'layout.html' %}

{% block title %}Team Rankings{{ super() }}{% endblock %}

{% block content %}

<h1>Team Rankings</h1>
<h4>View the current team for the charity event, updated real-time using the data from your fellow runners!</h4>

<div class="rankings">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Charity Team Rankings</div>
         </div>
         <ul class="user-details list-group panel-list">
             {% for runner in running_team %}
                {% if loop.index <= 12 %}
                    <li class="list-group-item">{{ loop.index }}. {{ runner }} - {{ running_team[runner] }} calories</li>
                {% endif %}
             {% endfor %}
         </ul>
    </div>
</div>

{% endblock %}