{% extends 'layout.html' %}

{% block title %}Team Rankings{{ super() }}{% endblock %}

{% block content %}

<h1>Team Rankings</h1>
<h4>View the current team for the charity event, updated real-time using the data from your fellow runners!</h4>

<div class="rankings">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Charity Team Rankings</div>
         </div>
         <ul class="user-details list-group panel-list">
             {% for runner in running_team %}
                 <li class="list-group-item">{{ loop.index }}. {{ runner.name }} - {{ runner.calories }}</li>
             {% endfor %}
         </ul>
    </div>
</div>

{% endblock %}