<li class="activity-block" id="swimming">
    <span>Swimming <span class="glyphicon glyphicon-remove"></span></span>
    <br/>

    <form>
        <div class="form-group">
            <label>Which style did you use?
                <select name="style" id="style" class="form-control activity-input effigy">
                    <option value="413">Backstroke</option>
                    <option value="590">Breaststroke</option>
                    <option value="649">Butterfly</option>
                    <option value="413">Freestyle (slow)</option>
                    <option value="590">Freestyle (fast)</option>
                </select>
            </label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>What was start time?
                        <input class='form-control activity-input time' id="start">
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>What was end time?
                        <input class='form-control activity-input time' id="finish">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>How would you rate your swim?
                <select name="rating" id="rating" class="form-control activity-input">
                    <option value="brilliant">Brilliant</option>
                    <option value="pretty-good">Pretty good</option>
                    <option value="about-average">About average</option>
                    <option value="okay">Okay</option>
                    <option value="awful">Awful</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Do you have any extra thoughts?
                <textarea name="thoughts" id="thoughts" class="activity-input form-control" ></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <input type="button" class="btn btn-primary activity-input add-activity" value="Add swim"/>
            </div>
        </div>
        
    </form>
</li>